

<body>

    <div class="services-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Offered Services</h1>
                    <div class="page_link">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <i class="fa-solid fa-arrow-right"></i>
                        <a  asp-action="Services" asp-controller="Account">Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-section container">
        <div class="row">
            <div class="section-title col-12">
                <h2>Our Offered Services</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-regular fa-hospital"></i>
                    <a href="">
                        <h4>24/7 Emergency</h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women
                        face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-solid fa-heart-pulse"></i>
                    <a href="">
                        <h4>Expert Consultation</h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-solid fa-hand-holding-medical"></i>
                    <a href="">
                        <h4>Intensive Care</h4>
                    </a>
                    <p>

                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-solid fa-people-roof"></i>
                    <a href="">
                        <h4>Family Planning</h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-regular fa-hospital"></i>
                    <a href="">
                        <h4>24/7 Emergency</h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women
                        face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-solid fa-heart-pulse"></i>
                    <a href="">
                        <h4>Expert Consultation</h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-solid fa-hand-holding-medical"></i>
                    <a href="">
                        <h4>Intensive Care</h4>
                    </a>
                    <p>

                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-60">
                <div class="single_service">
                    <i class="fa-solid fa-people-roof"></i>
                    <a href="">
                        <h4>Family Planning</h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
