@using Hospital_Template.Models;

@model List<DoctorPosition>
@{
    int count = 1;
}
<style>
    .trash-menu{
      width:5.6cm;
      height:2.2cm;
      background-color:white;
      border-radius:0.25rem;
   
  

    };
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteButtons = document.querySelectorAll(".delete");

        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var trashMenu = this.parentNode.nextElementSibling;
                toggleTrashMenu(trashMenu);
            });
        });

        var noButtons = document.querySelectorAll(".button-border[type='reset']");

        noButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var trashMenu = this.parentNode;
                toggleTrashMenu(trashMenu);
            });
        });

        // Menüyü açma ve kapama işlevi
        function toggleTrashMenu(menu) {
            if (menu.classList.contains("d-none")) {
                menu.classList.remove("d-none");
            } else {
                menu.classList.add("d-none");
            }
        }
    });
</script>



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Striped Table</h4>
            <p class="card-description">
                <a asp-controller="Position" asp-action="Create" type="button" class="btn btn-primary btn-lg">Create</a>
            </p>
            <div class="table-responsive w-75">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Count
                            </th>
                          
                            <th>
                                PositionName
                            </th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td>
                                    @count
                                </td>
                                
                                <td>
                                    @item.Position
                                </td>
                        
                                <td class="d-flex flex-row  gap-3 ">
                                    <div>
                                        <a asp-route-id="@item.Id" asp-controller="Position" asp-action="Update" type="button" class="btn btn-primary"><i class="bi bi-hand-index-thumb"></i></a>
                                        <a class="btn btn-secondary delete"><i class="bi bi-trash3-fill"></i></a>

                                    </div>
                                
                                    <div class="trash-menu text-center d-none">
                                        <p class="mb-3 " style="color:#ccc">Məhsulu səbətdən silmək istədiyinizə əminsiniz?</p>
                                        <p></p>
                                        <a asp-route-id="@item.Id" asp-action="Delete" asp-controller="Position" class="button-border btn" type="submit">Bəli</a>

                                        <button type="reset" class="button-border xeyr">Xeyr</button>
                                    </div>

                                </td>
                              
                                    
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
