@model HomeVM	

<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from ankarasehir.saglik.gov.tr/TR-326237/acil-tip-klinigi.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Aug 2023 17:33:29 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head id="Head2"><title>
	Acil Tıp Kliniği
</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="description" content="Türkiye'nin En Büyük Hastanesi" />
    <meta name="keywords" content="Ankara Bilkent Şehir Hastanesi, Hastane, Genel Hastane, Kalp Damar Hastanesi, Kalp Damar Hastanesi, Nöroloji - Ortopedi Hastanesi, Onkoloji Hastanesi, Çocuk Hastanesi, Kadın Doğum Hastanesi, Fizik Tedavi ve Rehabilitasyon Hastanesi, Klinik Araştırma Merkezi, Ana Kütle, Yoğun Bakımlar, YGAP, Endokrinoloji, Gastroenteroloji, Genel Cerrahi, Göz Hastalıkları, İç Hastalıkları, Kulak Burun Boğaz, Plastik Cerrahi, Psikiyatri, Tıbbi Genetik Polikliniği, Kardiyoloji, Kalp Damar Cerrahisi, İmmünoloji ve Alerji Hastalıkları Kliniği, Göğüs Hastalıkları, Çocuk Kalp ve Damar Cerrahisi, Göğüs Cerrahisi, Beyin Cerrahi, Dermatoloji, Enfeksiyon Hastalıkları ve Klinik Mikrobiyoloji, Nöroloji, Ortopedi, Algoloji, Gastroenteroloji Cerrahi, Geriatri, Hematoloji, Nefroloji, Radyasyon Onkolojisi, Aile Hekimliği, Romatoloji Cerrahi, Onkoloji, Tıbbi Onkoloji Üroloji, Sağlık Kurulu, Çocuk Acil, Çocuk Adolsan (Ergen Sağlığı), Çocuk Beyin Cerrahi Çocuk Cerrahisi, Çocuk Çözger (Sağlık Kurulu), Çocuk Diş, Çocuk Endokrinoloji Çocuk Enfeksiyon, Çocuk Fizik Tedavi ve Rehabilitasyon, Çocuk Gastroentereloji Çocuk Gelişimsel Pediatri, Çocuk Genetik,  Çocuk Göğüs Hastalıkları, Çocuk Göz, Çocuk Hematoloji ve Onkoloji, Çocuk İmmünoloji ve Alerji Hastalıkları, Çocuk Kardiyoloji Çocuk Metabolizma Hastalıkları,  Çocuk Nefroloji,  Çocuk Nöroloji,  Çocuk Ortopedi,  Çocuk Psikiyatri (Çocuk ve Ergen ve Ruh Sağlığı),  Çocuk Radyoloji,  Çocuk Romatoloji, Çocuk Sağlığı ve Hastalıkları (Genel Pediatri), Çocuk Sağlam Çocuk, Çocuk Üroloji, Çocuk Yenidoğan (Neonatoloji), Çocuk Emzirme - Relaktasyon ve Anne Destek, Çocuk Evde Sağlık Birimi, Çocuk Yoğun Bakım, Çocuk Palyatif Bakım Merkezi, Tekrarlayan Gebelik Kaybı, Suda Doğum, Polikistik Over Sendromu, Menopoz, Kronik Pelvik Ağrı ve Endometriyozis Polikliniği, Jinekoloji (Kadın Hastalıkları) 2, Jinekoloji (Kadın Hastalıkları ) 1, İnfertilite, IVF (Tüp Bebek ), Gençlik Merkezi, Gebe Okulu, Doğum Salonu-Antenatal ( Normal Gebelik Servisi ve Polikliniği), Cinsel Sağlık, Aile Planlaması, Acil Servis, Kadın Hastalıkları ve Doğum, Jinekolojik, Onkoloji Cerrahisi, Perinatoloji (Yüksek Riskli Gebelikler), Yeni Doğan Servisi, Beyin Hasarı Rehabilitasyon Kliniği Omurilik Hasarı Rehabilitasyon Kliniği Romatoloji, Ortopedi Rehabilitasyon ve Ağrı Kliniği, Subakut Rehabilitasyon Kliniği, Yabancı Hasta Kliniği, Pediatrik Rehabilitasyon Kliniği,  Omurilik Hasarı Rehabilitasyon Kliniği Romatoloji, Ortopedi Rehabilitasyon, Ağrı Kliniği, Subakut, Yabancı Hasta Kliniği, Pediatrik Rehabilitasyon, Laboratuvar,  Romatoloji, Ortopedi Rehabilitasyon ve Ağrı Kliniği Subakut Rehabilitasyon Kliniği - Yabancı Hasta Kliniği Pediatrik Rehabilitasyon" />		
	
     
	<script src="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/js/jquery.js" ></script>
	<script src="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/js/bootsrap.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BWSJ18VWD9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BWSJ18VWD9');
</script>
 
	<link href="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/logolar/logo-tr.png" rel="icon" type="image/png" />
	<link href="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/css/plugin.css" rel="stylesheet"> 
	
	<link href="~/docpulse.com/HospitalDoctors/Fonts/font-awesome.css" rel="stylesheet"> 
	<link href="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/css/color/default.css" rel="stylesheet">
	
	</head>

<body>	
 
	
    <form method="post" action="https://ankarasehir.saglik.gov.tr/TR-326237/acil-tip-klinigi.html" id="form2">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="8260FK0cHnkOP6anvzDdpw3VEQ+0+uhtFaZPQR2JJD2Sv8iw1OMo6tMix0BnFRdVN54ZA9omkgwbfNa495g5znddA1mO+pXWtewlpEhP/5vOazRp9nGVVzliMyZS3WrWk1aihV1uqvWToI8ewD6JZ9BMC2k7q+H7tXDIUAqqITE=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form2'];
if (!theForm) {
    theForm = document.form2;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="https://ankarasehir.saglik.gov.tr/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZGrLVgeud-5BMEJm5m6WRzs6Tp7h-4HlwSMlGqpIxyiVf2Cxe8LpgDr3yMbKQC_UPw2&amp;t=637811839220000000" type="text/javascript"></script>


<script type="text/javascript">
//<![CDATA[
var wiy_page_data = {SiteAnah:3893,
	Anah:326237,
	DilAnah:1,
	Dil:'TR',
	AppUrl:'http://ankarasehir.saglik.gov.tr',
	AppPath:'/',
	KisaUrl:'!TMRHc'};

var wiy_galleries =[];
//]]>
</script>

<script src="https://ankarasehir.saglik.gov.tr/ScriptResource.axd?d=NJmAwtEo3Ipnlaxl6CMhvo9n-b26Tk3zOG1a2sQRNRBcq1nxZKuAlLMW-7uM2b84XB_v78n30CASaCYmJkbi9nrBlkcc3sbovuyRO1CTyROn94C3HzWczmwfiA2IM4wuPWNXFCxL4277wkMN06a8AlJomppmz2pZOHAHvoCFvWo1&amp;t=ffffffffaa493ab8" type="text/javascript"></script>
<script src="https://ankarasehir.saglik.gov.tr/ScriptResource.axd?d=dwY9oWetJoJoVpgL6Zq8OCXi25SMu4dAvU71spGZFF8ZrkovS6vwj1WnBwMyPrBJRDeoxrNxmAiARQE8PbRK9FUBQJ1hJ98FMNBlEYqNOzP9rPmF_eIMnyuypoZV9zOxKFfJPETA58rwdQS89HkB5aZ4yGJo5nHAWbqaTH8hSa01&amp;t=ffffffffaa493ab8" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="0DF9663A" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'form2', [], [], [], 90, 'ctl00');
//]]>
</script>


    

<!-- SiteAgacDal:1.0.0.0 --><div id="">
	

	<section id="pages-header">
		
		<div class="hc-overlay"></div> 
		<div class="container"> 
			
		</div> 
	</section>
	
	 
	<section class="pages-content">
	
		<div class="container">
		
			<div class="row">
		
				<div class="col-md-3">
					<div class="page-left-sidebar">
						 
						<!-- SiteAgacDallar:1.0.0.0 --><div id="ada_KlinikDetay" KendisiniGoster="True" UstAnah="326237">
		<div id="ada_KlinikDetay_items" class="SKItems">

										<ul class="listed">
											@foreach (var position in Model.DoctorPositions)
											{
												<li>
													<a href="@Url.Action("Doctor", "Home", new { hospitalid = Model.SelectedHospital.Id, doctorpositionid = position.Id })">
														@position.Position
													</a>
												</li>
											}
										</ul>

										@*Bu şəkildə, bir xəstəxanaya tıkladığınızda, xəstəxana ilə ilişkilendirilmiş doktor mövqelərini listeleyebilirsiniz. Ayrıca, doktor mövqelərinə tıkladığınızda, əlaqədar doktorların dinləndiyi bir səhifəyə yönləndirilə bilərsiniz. Bu kod parçaları, seçili xəstəxana ilə ilişkilendirilmiş doktor mövqelərini listelemenizi təmin edəcək.

*@













									@*	Bu kod, DoctorPositionslistedeki her bir DoctorPositionüçün ilgili doktorları bulup, bir kez göstərir. Lakin, onun bir doktora tıkladığınızda, o mövqedəki bütün doktorlarla bağlı məlumatları göstərir.
*@





									</div>
	</div>
						 
					</div>
					
				</div>
				<!-- col-md-3 -->
				
				
				<div class="col-md-9">
				  
					<div class="pages-content-inner shadow">
						 
						 
						<div class="page-content-header">		
							<div class="row">
								
								<div class="col-md-8 col-sm-12">
											<h2> @Model.SelectedHospital.Name </h2>
										</div>
								
								<div class="col-md-4 col-sm-12">
									<div class="page-button">
									  <a class="page-link-button btn btn-primary" onclick="PrintElem('#div_print')" href="#"><i class="fa fa-print"></i> </a>
									  <a class="page-link-button btn btn-success buyult" href="#"><i class="fa fa-search-plus"></i> </a>
									  <a class="page-link-button btn btn-danger kucult" href="#"><i class="fa fa-search-minus"></i> </a>
									</div>	
								</div>
								
							</div>
						</div>
						<!-- page-content-header -->
		 
						 
						 
						<div id="div_print">		
							<div class="page-content-body">  
								<p>
									<!-- #326237 anahlı dal içerik başlıyor: [versiyon :0] --> 
	<p>
		<img alt="" src="~/RootAllPictures/img/@Model.SelectedHospital.ImagePath" style="color: #666a6e; font-family: Verdana, sans-serif; font-size: 24px; background-color: #f5f5f5;" /><br /><br />
		<script src="https://ankarasehir.saglik.gov.tr/WebResource.axd?d=1Gf95H4KUphlDQJdEIB6a5kCsF4yjdhGA-yvlieu8gp2jb_YOEHF8LhQJ6-SUrOhLNYNSraizKxkKBG7FWub8Iq6FhCBf2IrSjkJ52qS4Y8A59dmcNyEX3qLGvz0HjukGehBjnapM1E7DqrSd8N8tg2&amp;t=637891727327322857">
			</script>
			<script src="https://ankarasehir.saglik.gov.tr/WebResource.axd?d=w2xWn0AEdmGYajrrQjn8X3AH5_gkH2XdA-zqoNgGzmSe-ZoYvvVEa_2c-GppqiXsNMx-9cLAZxc6MWstOmqoaUex2jo6ZzHgAxNXQ7odPNSubAHHXxiAUN8FaSKHThvhviHQXgBYf_P93bVk723Q6Q2&amp;t=637891727327322857"></script>
			<script>
                                     if(typeof(wiy_galleries)!='undefined') 
                                                            wiy_galleries[wiy_galleries.length] = {id:'adasoft_galeri_83'
                                                                                                                        ,t_width:90
                                                                                                                        ,t_height:90
                                                                                                                        ,method:'PhotoBox'};
                                           </script><br /></p><hr /><p style="text-align: justify;">Xestexana Haqqinda Melumat

</p><p style="text-align: justify;">
	@Model.SelectedHospital.Description

								</p>
							</div>
							 
							<!-- SiteAgacDallar:1.0.0.0 --> 
									<!-- SiteAgacDal:1.0.0.0 -->
										
										
							  
									
										 
										  
										 
										  
										 
										 
										
										 	
										
										
										
										
										
																		
									 
									
							
				

							
						</div>

					  
						 
					</div>		 
					<!-- pages-content-inner -->
					
		
					 
				 
				</div>
				<!-- col-md-9 -->
		
		
			</div>
			
		</div>
		<!-- container -->
	 
	
	</section>
	
	
		 
	
</div>
	
 
	


<script>

	$(document).ready(function() {
	  
 		$("#create_cerez").click(function(){
			$.cookie("cerez_politikamiz", "ok_tr", {expires:10}); 
			$(".cookie_policy").animate( {bottom: '-110px', opacity: '0'});
		});
		 
		if ( $.cookie("cerez_politikamiz") == "ok_tr" ) { 
			$(".cookie_policy").hide();
		} 
		 
	});
	
	$(document).ready(function() {
	  
		function url_degistir (data, data2) {  
			
			data2  	= "http://" + location.host.split(":")[0];
			data 	= data.replace("WEB_ADRES", data2);
			data 	= data.replace("WEB_ADRES_2", data2);
			
			return data
		}
	    
		$.get('https://ankarasehir.saglik.gov.tr/Cerez/cerez.tr.html', function(data) { 
			var content  = url_degistir (data); 
			$("#print_cerez").html(content);  
		});
		 
	});
		
</script> 
	
		<script src="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/js/default.js"></script> 
		<script src="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/js/carosel.js"></script>  
		<script src="~/docpulse.com/HospitalDoctors/dosyahastane.saglik.gov.tr/WebFiles/sablonlar/js/lang/tr.js"></script> 
		
		
		<script type="text/javascript">
		
	var sosyalmedya = [ 
		[ 'facebook', "https://www.facebook.com/ankarasehirhast"], 
		[ 'youtube', "https://www.youtube.com/@@ankarabilkentsehirhastanesi"], 
		[ 'instagram', "https://www.instagram.com/ankarasehirhast/"], 
		[ 'linkedin', "https://www.linkedin.com/company/ankarasehirhastanesi/mycompany/?viewAsMember=true"],
		[ 'twitter', "https://twitter.com/ankarasehirhast"] 
	];

	var adres  	 = "Ankara Bilkent Şehir Hastanesi  Üniversiteler Mahallesi 1604. Cadde No: 9 Bilkent/Çankaya/ANKARA ";
	var telefon  = "0 312 552 60 00";
	var eposta   = "ankarasehir@saglik.gov.tr";
		
		
	$(document).ready(function() {
	
		$.each(sosyalmedya, function(key, value) { 
			var link  = value[1].length; 
			if ( link > 9 ) {
				sosyal = '<li><a href="'+value[1]+'" target="_blank"> <i class="fa fa-'+value[[0]]+'"></i> </a> </li> ';
				$(".social-network").append(sosyal);  							
				$(".social-mobiles").append(sosyal);  
				$(".social-networks").append(sosyal);  // for tsrm 4
			}  
		});
	 
		
		var address = adres.length;
		var phone  	= telefon.length;
		var epostas	= eposta.length;
		 
		 
		if ( address > 2 ) {
			$(".adres").html(""+adres+"");
			
			appentHTML  = '<div class="footer_text">';
				appentHTML  += '<div class="row">'; 
					
					appentHTML  += '<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">'; 
						appentHTML  += '<i class="fa fa-home"></i> ';  
					appentHTML  += '</div>'; 
					
					appentHTML  += '<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">'; 
						appentHTML  += '<p> <b>Adres</b> <br /> '+adres+' </p>';  
					appentHTML  += '</div>'; 
					
				appentHTML  += '</div>'; 
			 
			appentHTML += '</div>';
			
			$('.contact_data1').append( appentHTML );
		}
				 
		if ( phone > 2 ) {
			$(".telefon").html(""+telefon+"");
			
			appentHTML  = '<div class="footer_text">';
				appentHTML  += '<div class="row">'; 
					
					appentHTML  += '<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">'; 
						appentHTML  += '<i class="fa fa-phone"></i> ';  
					appentHTML  += '</div>'; 
					
					appentHTML  += '<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">'; 
						appentHTML  += '<p> <b>Telefon</b> <br /> '+telefon+' </p>';  
					appentHTML  += '</div>'; 
					
				appentHTML  += '</div>'; 
			 
			appentHTML += '</div>';
			
			$('.contact_data1').append( appentHTML );
		}
	 			 
		if ( epostas > 2 ) {
			$(".eposta").html(""+eposta+"");
			
			appentHTML  = '<div class="footer_text">';
				appentHTML  += '<div class="row">'; 
					
					appentHTML  += '<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">'; 
						appentHTML  += '<i class="fa fa-mail"></i> ';  
					appentHTML  += '</div>'; 
					
					appentHTML  += '<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">'; 
						appentHTML  += '<p> <b>E-Posta</b> <br /> <a href="mailto:'+eposta+'" target="_blank"> '+eposta+' </a> </p>';  
					appentHTML  += '</div>'; 
					
				appentHTML  += '</div>'; 
			 
			appentHTML += '</div>';
			
			$('.contact_data1').append( appentHTML );
		}
		
		
		
		
			
 
		
	});
	

</script> 
		

		

<script type="text/javascript">
//<![CDATA[
	Sys.Application.add_init(function(){
                                                                                                            if(typeof(wiy_galleries)!='undefined') {
                                                                                                              for(var i=0;i<wiy_galleries.length;i++)    
                                                                                                                        {
                                                                                                                          var  gitem = wiy_galleries[i];
                                                                                                                           if(gitem.method=='PhotoBox')
                                                                                                                                PhotoBoxAdasoft(gitem);
                                                                                                                      }
                                                                                                            }
                                                                                               });//end-galeri-init
                                                              
//]]>
</script>
</form>

</body>

<!-- Mirrored from ankarasehir.saglik.gov.tr/TR-326237/acil-tip-klinigi.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Aug 2023 17:33:56 GMT -->
</html>

